@media (max-width: 1080px) {
  .switch-items {
    gap: 250px;
  }
  .switch-item {
    max-width: 320px;
    padding: 30px 15px;
  }
  .switch-item .switch-item__btn {
    width: 270px;
  }
  .switch-item:nth-child(2) {
    padding: 50px 15px;
  }
}
@media (max-width: 1020px) {
  .switch-items {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 80px 0;
  }
  .switch-item:nth-child(2) {
    position: static;
    padding: 30px 25px;
  }
  .switch-item {
    padding: 30px 25px;
    border-radius: 10px;
  }
}
@media (max-width: 330px) {
  .switch-item {
    max-width: 275px;
  }
  .switch-item .switch-item__btn {
    width: 230px;
  }
}
